<!DOCTYPE html>
	<head>
		<title> GA FLower Parade </title>

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="flowerStyle.css">
		<!--JS-->
		 <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script
    	<script type="text/javascript" src="flowerObjects.js"></script>
    	<script type="text/javascript" src="flowerData.js"></script>
		

		<!--Fonts!-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic|Raleway:400,100,200,300,600|Poiret+One' rel='stylesheet' type='text/css'>
		
	</head>
	<body>
			<div>
				<div class="title">
				<h1>The San Francisco First Annual <br> General Assembly Parade of Flowers</h1>
				</div>
				<div class="sponsors">
					<h2>Brought to you thanks to the tireless efforts of the WDI #21 Cohort, and their teachers infinite wisdom.</h2>

					 <script type="text/template" id="flower-template">
					<div>
				<div class="flower-card">
					<img src= "<%= image %>">
					<ul>
						<li class="fName">Flower Name: "<%= image %>"</li>
						<li class="fColor">Flower Color: "<%= color %>"</li>
						<li class="pCount">Petal Count: "<%= petals %>"</li>
						<li class="lCount">Leaf Count: "<%= leafCount %>"</li>
						<li class="origin">Origin: "<%= origin %>"</li>
						<li class="edible">Edible:"<%= isEdible %>"</li>
						<li class="sPretty">Smells Pretty: "<%= smellsPretty %>"</li>
						<li class="comments">Comments: "<%= commnets %>"</li>
					</ul>
				</div>
				<hr>
			</div>
	</body>
</html>